BasedOnStyle: LLVM
Standard: c++17
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: true
PackConstructorInitializers: Never
SortIncludes: false
PointerAlignment: Left
AccessModifierOffset: -4
